#!/usr/bin/make -f

export GOPATH=$(CURDIR)/_build

%:
	dh $@ --buildsystem=golang --builddirectory=_build

override_dh_auto_clean:
	rm -rf $(CURDIR)/_build

override_dh_auto_build:
	go get
	go build

override_dh_auto_test:
	go test

override_dh_dwz:

override_dh_auto_install:
	install -p -m 0755 $(CURDIR)/kind $(CURDIR)/debian/kind/usr/bin/
	install -p -m 0644 $(CURDIR)/debian/kind.png $(CURDIR)/debian/kind/usr/share/pixmaps/
	$(CURDIR)/debian/kind/usr/bin/kind completion bash > $(CURDIR)/debian/kind/usr/share/bash-completion/completions/kind
	$(CURDIR)/debian/kind/usr/bin/kind completion zsh > $(CURDIR)/debian/kind/usr/share/zsh/vendor-completions/_kind
